* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('assents/paisagem.jpg');
    background-position: center;
    background-size: cover;
}

.caixa-maior {
    background-color: #000000;
    width: 95%; 
    max-width: 420px; 
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}

input {
    border: none;/* borda do elemento */
    outline: none;/* borda quando seleciona o elemento */
    padding: 10px;/* espaçamento interno */
    border-radius: 24px;/* arredonda as bordas */
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc( 100% - 100px);
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #ffffff2b;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff6b;
}

.caixa-media {
    margin-top: 30px;
}

.caixa-menor {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px; /* tamanho do texto */
}

.temp {
    color: #ffffff;
    margin-top: 12px;
    font-size: 30px;
}

.caixa-icone {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e a umidade */
}

.icone {
    width: 50px;
    height: 50px;
}


.descricao {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    text-transform: capitalize; /* Deixa a primeira letra maiuscula*/
}

